html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
form,
table,
tr,
th,
td,
input,
div {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll
}

a:visited {
  color: #111;
}

.chat-nav {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.nav__title-github,
.nav__title-setting,
.nav__title-compose {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  overflow: hidden;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.nav__title-github-icon,
.nav__title-setting-icon,
.nav__title-compose-icon {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.nav__title-github-content,
.nav__title-setting-content,
.nav__title-compose-content {
  float: left;
  margin-left: 5px;
}

@media screen and (min-width: 750px) {
  .chat-nav {
    top: 40px;
    right: 40px;
  }

  .nav__title-github,
  .nav__title-setting,
  .nav__title-compose {
    margin-bottom: 20px;
  }

  .nav__title-github:hover,
  .nav__title-setting:hover,
  .nav__title-compose:hover {
    width: 112px;
  }


}

.chat-login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, Roboto, SegoeUI, "Segoe UI", "Helvetica Neue", Helvetica, "Microsoft YaHei", "Meiryo UI", Meiryo, Arial Unicode MS, sans-serif;
  z-index: 9999;
  display: none;
}

.chat-login-bg .chat-login {
  width: 90vw;
  background-image: url(/cdx/bg-sprite.png);
  background-position: 0% 0%;
  border-radius: 1vmin;
  padding: 0 4vmin;
}

.chat-login .chat-login-title {
  text-align: center;
  font-weight: 600;
  text-align: center;
  color: #111;
  font-size: 8vmin;
  margin: 4vmin 0;
}

.chat-login .chat-login-inp-cookie {
  display: block;
  text-align: center;
  font-size: 5vmin;
  border-radius: 1vmin;
  border: none;
  outline: none;
  padding: 4vmin;
  margin: 0;
  width: 100%;
}

.chat-login-btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-login-btn-group .chat-login-btn {
  background: #fff;
  color: #111;
  border-radius: 1vmin;
  text-decoration: none;
  /* height: 12vmin; */
  /* line-height: 12vmin; */
  box-sizing: border-box;
  font-style: normal;
  font-size: 5vmin;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin: 4vmin 0;
  padding: 3vmin 6vmin;
}

.chat-login-btn.chat-login-btn-save {
  border-image: linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);
  background: linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);
  color: #fff;
}

.chat-login-btn.chat-login-btn-reset {
  background: #f56c6c;
  color: #fff;
}

@media screen and (min-width: 750px) {
  .chat-login-bg .chat-login {
    width: 550px;
    padding: 0 20px;
  }

  .chat-login .chat-login-title {
    font-size: 36px;
    margin: 20px 0;
  }

  .chat-login .chat-login-inp-cookie {
    font-size: 18px;
    padding: 20px;
  }

  .chat-login-btn.chat-login-btn-save,
  .chat-login-btn.chat-login-btn-cancel,
  .chat-login-btn.chat-login-btn-reset {
    font-size: 20px;
    margin: 20px 0;
    padding: 16px 40px;
  }
}

/* loading start */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 1;
  transition: opacity 2s ease-out;
}

.loading-spinner.hidden {
  opacity: 0;
}

.loading-spinner>div {
  width: 30px;
  height: 30px;
  background: linear-gradient(90deg, #2870EA 10.79%, #1B4AEF 87.08%);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* loading end */