/* 移除顶部背景遮挡 */
.scroller>.top {
  display: none !important;
}

/* 移除顶部边距 */
.scroller>.scroller-positioner>.content {
  padding-top: 0 !important;
}

@media screen and (max-width: 1536px) {
  :host([side-panel]) {
    --side-panel-width: 280px;
  }
}

@media screen and (max-width: 767px) {
  :host([side-panel]) {
    --side-panel-width: 0;
  }
}